<div class="container flex">
  <div class="facebook-page flex">
    <div class="text">
      <h1>PayCaddy</h1>
      <p>Your Payroll, Simplified.</p>
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group">
        <div class="field"><input type="password" id="password" name="password" #pwd="ngModel" ngModel required pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%&?]).*$">
          <label for="password" title="Password" data-title="Password"></label>
        </div>
        <div class="error-wrapper">
        <ng-container *ngIf="!pwd.valid && 
              pwd.touched;else noError" class="alert">                                 
          <small  *ngIf="pwd.errors?.['required']" class="alert">*password is required</small>
          <small  *ngIf="pwd.errors?.['pattern']" class="alert">*password must be at least 8 characters long,contain letters,number and a special character</small>
        </ng-container>
        <ng-template #noError>
          <small >&nbsp;</small>
        </ng-template></div>
      </div>

      <div class="form-group">
        <div class="field"><input type="password" id="cnfpassword" name="cnfpassword" #cnfpwd="ngModel" ngModel
            required>
          <label for="cnfpassword" title="Confirm Password" data-title="Confirm Password"></label>
        </div>
        <div class="error-wrapper">
        <ng-container *ngIf="!cnfpwd.valid && 
                  cnfpwd.touched;else noError" class="alert">
          <small>*confirm password is required</small>
        </ng-container>
        <ng-template #noError>
          <small >&nbsp;</small>
        </ng-template></div>

        <div *ngIf="cnfpwd.touched">
          <div *ngIf="pwd.value!==cnfpwd.value">
            <div class="error-wrapper">
            <small class="alert">Both password and confirm password must be same</small>
          </div>
        </div></div>
      </div>



      <div class="link">
        <button type="submit" [disabled]="registerForm.invalid || pwd.value!=cnfpwd.value" class="login">Set Password</button>
      </div>
    


      <hr>
      <div class="link">
        <div class="link-dark"> <span ><a routerLink="/" class="">Back to Login</a></span>
          
        </div>
      </div>
    </form>

  </div>
</div>