.card-title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #001F3F;
}

.card-text {
    font-weight: bold !important;
    font-size: 1.1rem !important;
}

h5{
    font-weight: bold !important;
    font-size: 1.1rem !important;
    color: #001F3F ;
}

.gridTemplate {
    width: 50%;
    height: 10% !important;
    z-index: 1030;
    padding: 0%;
}

.dashboardCard {
    position: relative;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 1000px;
    transition: transform 0.2s;
    overflow-x: auto;
    margin-left: 100px;
    
}
  
.dashboardCard:hover {
  transform: scale(1.01);
}

.card-icon {
  font-size: 24px;
}

.card-title {
  font-size: 16px;
  margin-right: 8px;
  font-weight: 500;
}

.card-text {
    font-size: 18px;
    font-weight: bold;
    color: #001F3F;
}

.container {
  transition: all 0.3s ease;
}
