<div class="container flex">
  <div class="facebook-page flex">
    <div class="text">
      <h1>PayCaddy</h1>
      <p>Your Payroll, Simplified.</p>
    </div>
    <form #forgotPWDForm="ngForm" (ngSubmit)="onSubmit(forgotPWDForm)">
      <div class="form-group">
        <div class="field">
          <input type="text" name="email" id="email" required ngModel required #email="ngModel">
          <label for="email" title="Email Address" data-title="Email Address"></label>
        </div>
        <div class="error-wrapper">
        <ng-container *ngIf="email.invalid && email.touched;else noerror">
          
          <small >*Enter Email Address</small>
        </ng-container>
        <ng-template #noerror>
          <small>&nbsp;</small>
        </ng-template></div>
      </div>
      <div class="link">
        <button type="submit" class="login" [disabled]="forgotPWDForm.invalid">Send Reset Link</button>
      </div>
      <hr>
      <div class="link">
        <div class="link-dark">
          <a routerLink="/" class="link-primary">Back to Login</a>
        </div>
      </div>
    </form>
  </div>
</div>